### Q1. How do you comment code in Python? What are the different types of comments?
### Answer :
There are two types for adding comment in Python that are<br>
1) single line comment which is "#" character.We should add "#" character before the comment line is written.<br>
2) Multi-line comment which is given by simply """(3 quotation marks) . It should be add before and after finishing the comment in multi line comment. <br>
Example is

In [12]:
5+5 # this is single line comment means this line is not executed or ignored after "#" character.
# 5+5
for i in range (5):
    print(i)        
    ''' note this is multi line comment
                        here i can add multiple line of comments to this code block but doesn't get executed this line as it
                        is comment.
                                     '''

0
1
2
3
4

### Q2. What are variables in Python? How do you declare and assign values to variables?
### Answer :
Variable are the container used to store different value. Declaration of variable has some basic rules <br>
1) Variables should start either with alphabet or underscore sign.
2) Variables can be the combination of alpha numeric
3) Variables are case sensative.<br>
Assignment of values to variable by simple assignment operator "=" and putting the values to right side fo variable as example below:<br>
Example:
a1 = 2
fruit_1 = "apple" . Here we use double quotation marks for string values for the variable.

### Q3. How do you convert one data type to another in Python?
### Answer :
Yes, we can convert one data type to another data type by type casting method ie. desired data type function and value in the <br>
parenthesis. eg: int("50") return integer value as 50 only as "50" here is string data type value.

In [17]:
#example 1
# converting to integer from string data type 
name = "willson"
intco = int(name) # Note it will show an error because python couldn't type caste string value as here but can type cast
print(intco)      # in example 2
print(type(intco))

ValueError: invalid literal for int() with base 10: 'willson'

In [16]:
#example 2
name = "50"
intco = int(name)  
print(intco)      
print(type(intco))

50
<class 'int'>

<b> Note: type cast is possible only in similar types of data or similar family of data ie casting is possible in float to int and int to float also to string as in example 2 but not above as example 1.</b>

### Q4. How do you write and execute a Python script from the command line?
### Answer :
Here are the steps to write and execute a python script from the command line.<br>
Assumption : python installed on your machine.<br>
1) Open the terminal of your pc 
2) On the terminal, type python and hit Enter key.
3) Now you can write any piece of code.
4) For execution we should hit Enter key. It will give output in the next line

### Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].
### Answer :

In [5]:
#The code is here
my_list = [1,2,3,4,5]
list(my_list[1:3])

[2, 3]

### Q6. What is a complex number in mathematics, and how is it represented in Python?
### Answer:
In math, Complex number is number which is expressed in term of real and imaginary number.ie. In the form of a + bi
where a and b is real number and i is imaginary number having the value of square root of "-1".

And in case of python it is represented as : a + bj 
Where a and b is real number and j represent imaginary part:

### Q7. What is the correct way to declare a variable named age and assign the value 25 to it?
### Answer:
The correct way to declare variable name age is :
age = numerical value.<br>
From the question 
age = 25

In [7]:
# The code in python is
age = 25
type(age)

int

### Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
### belong to?
### Answer:
The required python code is

In [8]:
#python code is 
price = 9.99
type(price)

float

#### From the above code we concluded that the variable price data type is float

### Q9. Create a variable named name and assign your full name to it as a string. How would you print the
### value of this variable?
### Answer: 
The required code is in the below cell:

In [9]:
# The code is :
name = "Willson Bhandari"
print(name)

Willson Bhandari

We can use print() function to print the name passing the required variable in the parentheses to print the value of it.

### Q10. Given the string "Hello, World!", extract the substring "World".
### Answer:

In [11]:
# The code is :
st1 = "Hello, World!" # storring the string in the varialbe.
st1[7:12]

'World'

### Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
### currently a student or not.
### Answer:
The requrired code is:

In [15]:
# The code is 
is_student = True # for currently student
is_student = False # for currently not student.