# Mysql Assignment

### Q1. What is a database? Differentiate between SQL and NoSQL databases.
### Answer:
Database is an organized or systematic collection of data or types of data store based on the use of database management system. 
The major differentiate between SQL and NoSQL databases are as follows:
1. SQL database are relational based but NoSQL database are non-relational.
2. SQL stand for structured query language and have predefined schema but NoSQL stand for Not
only structured query language and have dynamic schema.
3. A unique primary key can only be assign to SQL but in case of NoSQL document id can be defined with unique numbers.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
### Answer:
DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) used to define, manage, and manipulate the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and constraints. Somce common DDL statement are CREATE TABLE, ALTER TABLE, DROP TABLE, CREATE INDEX, etc.
<br>
The explanation is given as:

1. CREATE:<br>
   The CREATE command is used to create new database objects such as tables, indexes, views,       etc. <br>

   Example : Creating a Table: <br>
   
   CREATE TABLE students(         <br>
   student_id INT PRIMARY KEY,<br>
   name VARCHAR(50),<br>
   age INT,<br>
   level VARCHAR(50)<br>
   ); <br>


   Here new table is created with a name called students with a columns  names student_id,              name, age, level.
2. DROP <br>
   The DROP command is used to delete the given database objects or a database too.

   Example: Dropping a Table(students)
   
   DROP TABLE students; <br>

   Here the students table is deleted with all data

4. ALTER:<br>
   The ALTER command is used to modify the structure of a database object such as adding ,      modifiying or deleting columns or constraints in a table.
   
   Example: Adding a column to table:


   ALTER TABLE students <br>
   ADD email VARCHAR(100);<br>


   Here new schema ie email is added in the given table which allows us to add data to in it.
   
5. TRANCATE:<br>
   The TRANCATE command is used to delete all rows data from the given table without             deleting its schemas or table structures.

   Example: Trancating a Table:


   TRANCATE TABLE students; <br>

      Here it delete all rows data from the given table without affecting its structure . It       is easy way to delete rows data without deleting table itselfs.

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
### Answer:
DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for managing and manipulating data stored in a relational database management system (RDBMS). DML is responsible for performing tasks such as inserting, updating, and deleting data in a database. The main SQL commands associated with DML are: INSERT, UPDATE, DELETE, etc.<br>
The explanation are as follows with exaples.<br>
1. INSERT:<br>
The INSERT command is to add new record in the table.<br>
Example:<br>
        INSERT INTO students(student_id, name, age, level)<br>
        VALUES <br>
        (101, "Willson", 23, "Statistics"),<br>
        (102, "Manoj", 22, "pyhics");<br>
        <br>
   #Here new records are added into the table.<br>
   <br>
2. UPDATE:<br>
The UPDATE statement is used to modify existing records in a database table. You specify the table name, set the new values for specific columns, and use a WHERE clause to identify which rows should be updated.<br>
Example:<br>
<br>
     UPDATE students<br>
     SET level = "Statistics"<br>
     WHERE name = "manoj";<br>
     <br>
     Here when the name is manoj . The level of manoj is set to Statistics from physics. Its got modified.<br>
<br>
3. DELETE:<br>
The DELETE statement is used to remove records from a database table based on a specified condition provided in the WHERE clause. If you omit the WHERE clause, it will delete all the rows in the table.<br>
Example:<br>
<br>
DELETE FROM students<br>
WHERE student_id = 101;<br>
<br>
Here it get deleted 101 student id only not whole row unless WHERE clause is omitted.

### Q4. What is DQL? Explain SELECT with an example.
### Answer:
DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used for querying and retrieving data from a relational database management system (RDBMS). DQL focuses on the SELECT statement, which allows you to retrieve data from one or more database tables. The primary purpose of DQL is to extract information from the database rather than manipulating it.<br>
<br>
The explanation of SELECT command is givens as:<br>
SELECT :<br>
<br>
SELECT is used to select data form the table . Here in first example it gives all data/records from the table as:<br>
<br>
SELECT * FROM students;<br>
<br>
Also, SELECT is used to select records from specified columns or logical data as example:<br>
<br>
SELECT ProductName, Price <br>
FROM Products <br>
WHERE Price > 50;<br>
<br>
In this example, the SELECT statement is used to query the "Products" table, and the WHERE clause is used to filter the results to only include products with a price greater than $50.

### Q5. Explain Primary Key and Foreign Key.
### Answer:
#### Primary Key:
A Primary Key is a column or a set of columns in a table that uniquely identifies each record (row) in that table. It ensures that each row has a unique value in that column or combination of columns.<br>
By definition, a Primary Key must contain unique values and cannot contain NULL values.<br>
<br>
#### Foreign Key:
A Foreign Key is a column or a set of columns in a table that establishes a link between the data in two tables. It creates a relationship by referencing the Primary Key of another table.<br>
It helps maintain data consistency and ensures that data in one table corresponds to data in another.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
### Answer:
The required python code to connect MySQL to python is give below:<br>
<br>
import mysql.connector <br>
mydb = mysql.connector.connect(<br>
       host = "localhost",<br>
       user = "root",<br>
       password = "Mysql_password"<br>
       )<br>
1. Cursor () Method:<br>
Cursor method refers to a set of functions or methods provided by database management systems (DBMS) or database libraries to interact with database cursors. Cursors in databases are used to manage and navigate through the result sets of SQL queries, allowing you to retrieve and manipulate data row by row. Cursor methods are used to control and manipulate these cursors.<br>
Setting a cursor object by the following command in the python.<br>
<br>
mycursor = mydb.cursor()<br>
<br>
2. Execute () Method:<br>
The execute() method is a commonly used method for SQL. The execute() method is used to send and execute SQL statements or queries against a database.<br>
In python , execute () function is used as following code:<br>
<br>
mycursor.execute("sql queries")<br>

### Q7. Give the order of execution of SQL clauses in an SQL query.
### Answer:
In an SQL query, the clauses are generally executed in a specific order, and the sequence of execution can impact the results. The typical order of execution for SQL clauses in a SELECT statement is as follows:<br>
<br>
1. FROM<br>
2. WHERE<br>
3. GROUP BY<br>
4. HAVING<br>
5. SELECT<br>
6. DISTINCT<br>
7. ORDER BY<br>
8. LIMIT<br>