### Q1. Create one variable containing following type of data:
<b>(i) String</b><br>
<b>(ii) List</b><br>
<b>(iii) Float</b><br>
<b>(iv) Tuple</b><br>

### Answer :
<b>i) String</b><br>
  mycity = "Kathmandu"<br>
  name = "Willson"<br>

<b>ii) List</b><br>
    fruit1 = [ "apple" , "mango", "banana"]<br>
    random2 = [ 1,3, 100, "linear algebra", 3.5, 4+3j]<br>

<b>iii) Float</b><br>
     pii = 3.14<br>
     height = 5.6

<b>iv)Tuple</b><br>
   tuple_1 = ( 1,3,(4,5,100, 22.1), ["mango", "apple", "calculus", "random book"], "willson", 5+1j)<br>
   (A tuple can have any number of items and they may be of different types (integer, float, list, string, etc.)

### Q2. Given are some following variables containing data:
<b>(i) var1 = ‘ ‘</b><br>
<b>(ii) var2 = ‘[ DS , ML , Python]’</b><br>
<b>(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]</b><br>
<b>(iv) var4 = 1.</b> 
### What will be the data type of the above given variable.

### Answer :
The data type of the above given variable are as.<br>
i) string<br>
ii) string<br>
iii) list<br>
iv) float<br>

### Q3. Explain the use of the following operators using an example:
<b>(i) /</b><br>
<b><b>(ii) %</b><br>
<b>(iii) //</b><br>
<b>(iv) **</b><br>

### Answer :

<b>(i) /</b><br>
        This operator is known as divison which will divide the any number and return the floating value as below.<br>
        example:</p>

In [4]:
#example 1 
a = 4 
b = 2
c = a/b
print(c)
print (f"Data type of the value is {type(c)}.")

2.0
Data type of the value is <class 'float'>.

In [5]:
#exaple 2
d = 4 
e = 3
f = d/e
print(f)
type (f)

1.3333333333333333

float

<b>(ii) %</b><br>
    This operator name is modulus and its use is to calculate reminder of divison expression in python programming.<br>
    Example:

In [ ]:
#example of modulo is here 
a = 5
b = 2
c = a%b
print(c) # Here it will print the reminder of the divison a/b .

1

<b> iii) // </b><br>
This operator name is floor division which will result as below.<br>
Example:

In [ ]:
# use of // operator 
a = 5 
b = 2
c = a//b
print(c)

2

<b>iv)**</b><br>
The name of this operator is power or Exponentiation which will give value as 2^2 = 4, 2^3= 8.<br>
Example:

In [9]:
#example for **
a = 2
b = 3
c = a**b
print(c)

8

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

### Answer :
Code for above problem is give below in next cell.

In [ ]:
# code fo above answer is given below with list name list_4
list_4 = [ 100, "Apple", "cost", "is", 1000.1, 4+1j, 2, 4, -1, " "]
for i in list_4:
    print(i)
    a= type(i)
    print(a)

100
<class 'int'>
Apple
<class 'str'>
cost
<class 'str'>
is
<class 'str'>
1000.1
<class 'float'>
(4+1j)
<class 'complex'>
2
<class 'int'>
4
<class 'int'>
-1
<class 'int'>

<class 'str'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

### Answer :
The solution is in the next cell below.

In [11]:
A = 16
B = 4

count = 0
while A % B == 0:
    A = A / B
    count += 1

print("Number of times A is divisible by B:", count)

Number of times A is divisible by B: 2

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

### Answer : 
The code for above problem is give below in new cell.

In [ ]:
# this cell is for question no 6
import random 
list_6 = random.sample(range(1,100),25)
for i in list_6:
    a = i%3
    if a==0:
        print("The number", i, "is divisable by 3")
    else:
        print("The number", i, "is not divisable by 3")

The number 32 is not divisable by 3
The number 6 is divisable by 3
The number 71 is not divisable by 3
The number 41 is not divisable by 3
The number 4 is not divisable by 3
The number 7 is not divisable by 3
The number 31 is not divisable by 3
The number 69 is divisable by 3
The number 3 is divisable by 3
The number 2 is not divisable by 3
The number 63 is divisable by 3
The number 5 is not divisable by 3
The number 76 is not divisable by 3
The number 38 is not divisable by 3
The number 34 is not divisable by 3
The number 33 is divisable by 3
The number 45 is divisable by 3
The number 61 is not divisable by 3
The number 53 is not divisable by 3
The number 89 is not divisable by 3
The number 67 is not divisable by 3
The number 13 is not divisable by 3
The number 96 is divisable by 3
The number 57 is divisable by 3
The number 10 is not divisable by 3

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

### Answer :
Mutable data type are those types of data which are able to change like in any list data type which can be changed data inside the given list by adding abstracting, etc. And immutable data types are those data types which cannot be changed by the process of replacing in those data type. like in string data type . The value holding in string data type is cannot be appended or other similar operation.
<br>Example:

Example for mutability

In [ ]:
# example of mutuable
list_7 = [ 1,3,5, "willson", "apple", 1.2, 2+1j]
list_7[3] = "changed"
print(list_7)

[1, 3, 5, 'changed', 'apple', 1.2, (2+1j)]

Example for immutability

In [ ]:
# exaple of immutable data type 
fruit = "banana"
fruit[1] = "b" #here i'm trying to replace a having index 1 to b , but its not possible in this string data type so this is known as immutable data type
print(furit)

TypeError: 'str' object does not support item assignment