### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?
### Answer:
MongoDB is a popular open-source, NoSQL (non-relational) database management system that is designed to store, retrieve, and manage data in a flexible and scalable way. It is used for handling large volumes of unstructured or semi-structured data, and it is particularly well-suited for applications that require high availability and horizontal scaling.<br>
<br>
A non-relational database is a type of database management system that does not use the traditional tabular structure or rows and columns seen in relational databases. Instead, it stores data in more flexible and dynamic formats, such as documents, key-value pairs, graphs, or wide-column stores. Non-relational databases are often chosen for their ability to handle unstructured or semi-structured data, scalability, and agility in accommodating changing data requirements. They are commonly used in modern web applications, big data, and real-time analytics.<br>
<br>
The advantages of using MongoDB over SQL databases are as follows:<br>
> 1. **Unstructured or Semi-Structured Data:** When data doesn't fit neatly into fixed tables with well-defined schemas, MongoDB's document-oriented approach allows for flexible and evolving data models. So it is suitable for where the data structure is not clearly defined or may change over time.<br>
> 2. **High Volume of Data:** MongoDB is designed for horizontal scalability, making it a good choice for applications that need to handle large volumes of data and high traffic. It can distribute data across multiple servers, providing better performance and reliability.<br>
>  3. **Geographic and Geospatial Data:** MongoDB has strong support for geospatial data and queries, making it a good choice for applications that involve location-based services, such as mapping and location tracking.<br>
<br>
> The central point of selection of MongoDB and SQL databases purely depends on the nature of the data. So the databases are chosen accordingly.

### Q2. State and Explain the features of MongoDB.
### Answer:
MongoDB offers several features that make it a popular choice for modern database applications.<br>
Here are some of its key features:<br>
> 1. **Document-Oriented Data Model:** MongoDB stores data in flexible, JSON-like documents called BSON(Binary JSON).These documents can have varying structures within the same collection, allowing for a dynamic and schema-less data model.
> 2. **NoSQL Database:** MongoDB is a NoSQL database, which means it doesn't rely on the traditional relational database tables and schemas. Its application is flexibility for evolving and unstructured data.
> 3. **Dynamic Schema:** MongoDB supports horizontal scaling, enabling you to distribute data across multiple servers or clusters. This makes it suitable for applications with high data volumes and traffic, as we can add more servers as needed.
> 4. **Geospatial Indexing:** MongoDB offers native support for geospatial data and queries, making it suitable for location-based applications that require efficient handling of geographic information.
> 5. **Open Source:** MongoDB is open source, meaning it can be used for free and access its source code, allowing for customization and community contributions.
> 6. **Rich Query Language:** MongoDB provides a powerful query language that supports various query operators, indexing, and advanced filtering, making it capable of complex data retrieval and analysis.

### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
### Answer:
The code to connect MongoDB Atlas to Python is given below

In [2]:
import pymongo
mydb =pymongo.MongoClient("mongodb+srv://mydb:<password>@cluster0.eqh73l8.mongodb.net/?retryWrites=true&w=majority")

> If the above code doesn't give error then it is connect to MongoDB Atlas.

#### Creating Database and collection in MongoDB as given in the code:

In [3]:
import pymongo
mydb =pymongo.MongoClient("mongodb+srv://mydb:<password>@cluster0.eqh73l8.mongodb.net/?retryWrites=true&w=majority")
my_database = mydb["Amrit_School"] #This line will create database name "Amrit_school"

my_coll = my_database["student_details"] #This line will create collection name "student_details"

### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.
### Answer:
Using directly the connection, database, and collection created in question 3.<br>
> #### To insert one record/document the code is given below:

In [10]:
import pymongo
# Use your password in the <password>
mydb =pymongo.MongoClient("mongodb+srv://mydb:<password>@cluster0.eqh73l8.mongodb.net/?retryWrites=true&w=majority")

#This line will create the database name "Amrit_school"
my_database = mydb["Amrit_School"] 

#This line will create the collection name "student_details"
my_coll = my_database["student_details"]

#This is one record
stu_1 = {"Name":"Ram", "Class":10, "Roll No.":4, "Address":"Thamel"}  

# this line is creating the record 
record1 = my_coll.insert_one(stu_1) 

#This line is accessing the record created using the find_one() method.
access = my_coll.find_one()
print(access)

{'_id': ObjectId('6545cb98a54cebac4268ddb2'), 'Name': 'Ram', 'Class': 10, 'Roll No.': 4, 'Address': 'Thamel'}

>#### To insert multiple record/document the code is given below:

In [22]:
import pymongo
mydb =pymongo.MongoClient("mongodb+srv://mydb:<password>@cluster0.eqh73l8.mongodb.net/?retryWrites=true&w=majority")
#This line will create the database name "Amrit_school"
my_database = mydb["Amrit_School"] 

#This line will create the collection name "student_details"
my_coll = my_database["student_details"]

# This given list of dictionaries as list_dict is considered as multiple records.
list_dict = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"},
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]
#This line is creating/inserting multiple records.
record2 = my_coll.insert_many(list_dict)

In [23]:
#This line accesses all created records in the collection student_details including the previous one.
for x in my_coll.find():
    print(x)

{'_id': ObjectId('6545cd46a54cebac4268ddb6'), 'Name': 'Ram', 'Class': 10, 'Roll No.': 4, 'Address': 'Thamel'}
{'_id': ObjectId('6545cf1ba54cebac4268ddb8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6545cf1ba54cebac4268ddb9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6545cf1ba54cebac4268ddba'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6545cf1ba54cebac4268ddbb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6545cf1ba54cebac4268ddbc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6545cf1ba54cebac4268ddbd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6545cf1ba54cebac4268ddbe'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6545cf1ba54cebac4268ddbf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6545cf1ba54cebac4268ddc0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6545cf1ba54cebac4268ddc1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6545cf1ba54cebac4268ddc2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6545cf1ba54cebac4268ddc3'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6545d01ca54cebac4268ddc5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6545d01ca54cebac4268ddc6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6545d01ca54cebac4268ddc7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6545d01ca54cebac4268ddc8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6545d01ca54cebac4268ddc9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6545d01ca54cebac4268ddca'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6545d01ca54cebac4268ddcb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6545d01ca54cebac4268ddcc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6545d01ca54cebac4268ddcd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6545d01ca54cebac4268ddce'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6545d01ca54cebac4268ddcf'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6545d01ca54cebac4268ddd0'), 'name': 'Viola', 'address': 'Sideway 1633'}

### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.
### Answer:
The Find() method is used to query the data from the collection of the database. It helps to filter and select the data. It accepts various parameters to customize the query. Some of the parameters are as follows:<br>
<br>
<br> 
Here is the syntax of the find() method.<br>
**db.collectionName.find(query, projection)** 
> 1. **Query(mandatory):** The first parameter is the query document, which specifies the criteria for selecting documents from the collection. It defines the filter conditions that documents must match to be retrieved.
> 2. **Projection(Optional):** The second parameter, known as "projection," is also optional. It allows you to specify which fields from the selected documents should be included or excluded in the query results. You can include fields by setting their value to 1 and exclude fields by setting their value to 0.
> 3. **Sort(Optional):** The sorting document specifies one or more fields by which to sort the documents and the sort order (ascending or descending).
> 4. **Limit(Optional):** The  "limit," which allows you to restrict the number of documents returned by the query. It specifies the maximum number of documents to return.
#### The code for the query is :

In [10]:
import pymongo
mydb =pymongo.MongoClient("mongodb+srv://mydb:<password>@cluster0.eqh73l8.mongodb.net/?retryWrites=true&w=majority")
#This line will create the database name "Amrit_school"
my_database = mydb["Amrit_School"] 

#This line will create the collection name "student_details"
my_coll = my_database["student_details"]

# This given list of dictionaries as list_dict is considered as multiple records.
list_dict = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"},
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]
#This line is creating/inserting multiple records.
record2 = my_coll.insert_many(list_dict)

#### This find() method will give documents whose name is Vicky:

In [11]:
find1 = my_coll.find({"name":"Vicky"})
for x in find1:
    print(x)

{'_id': ObjectId('6545cf1ba54cebac4268ddbf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6545d01ca54cebac4268ddcc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}

#### This find() method will give the documents who are from the given address:

In [12]:
find1 = my_coll.find({"address": "Main Road 989"})
for x in find1:
    print(x)

{'_id': ObjectId('6545cf1ba54cebac4268ddc2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6545d01ca54cebac4268ddcf'), 'name': 'Chuck', 'address': 'Main Road 989'}

#### This find() method will give the documents excluding "_id":

In [15]:
#The documents who are from the given address:
find1 = my_coll.find({"address": "Main Road 989"}, {"_id":0})
for x in find1:
    print(x)

{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Chuck', 'address': 'Main Road 989'}

### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
### Answer:
The sort() method in MongoDB is used to sort the documents within a collection based on one or more fields. It allows you to specify the sorting order, which can be either ascending (1) or descending (-1). The sorted documents are returned as a cursor, which can be iterated through to access the results.<br>
<br>
#### The example for sorting is given below:

In [18]:
import pymongo
mydb =pymongo.MongoClient("mongodb+srv://mydb:<password>@cluster0.eqh73l8.mongodb.net/?retryWrites=true&w=majority")
#This line will create the database name "Amrit_school"
my_database = mydb["Amrit_School"] 

#This line will create the collection name "student_details"
my_coll2 = my_database["students"]

dict2 = [
    {"Name":"Willson", "Level":10, "Age":14},
    {"Name":"Manoj", "Level":10, "Age":15},
    {"Name":"Dhiraj", "Level":10, "Age":13},
    {"Name":"Neerajan", "Level":10, "Age":12},
    {"Name":"Rupesh", "Level":10, "Age":13},
    {"Name":"Sital", "Level":10, "Age":15},
    {"Name":"Dikshya", "Level":10, "Age":16},
    {"Name":"Peter", "Level":10, "Age":18},
    {"Name":"Akash", "Level":10, "Age":14},
    {"Name":"Rudra", "Level":10, "Age":15},
    {"Name":"Binita", "Level":10, "Age":12}
]

record3 = my_coll2.insert_many(dict2)

#### Sorting field "Age" in ascending/descending order:

In [27]:
#Example of sorting in ascending order 
print("Ascending Sort for Age field")
print("\n")
asc = my_coll2.find().sort("Age")
for x in asc:
    print(x)
    
print("\n")
print("\n")

#Example of sorting in descending order 
print("Descending Sort for Age field")
print("\n")
des = my_coll2.find().sort("Age",-1)
for x in des:
    print(x)

print("\n")
print("\n")
# Example of sorting for name field:
print("Descending Sort for Name field")
print("\n")
des2 = my_coll2.find().sort("Name",-1)
for x in des2:
    print(x)

Ascending Sort for Age field


{'_id': ObjectId('6548af0fc40457443568bf08'), 'Name': 'Neerajan', 'Level': 10, 'Age': 12}
{'_id': ObjectId('6548af0fc40457443568bf0f'), 'Name': 'Binita', 'Level': 10, 'Age': 12}
{'_id': ObjectId('6548af0fc40457443568bf07'), 'Name': 'Dhiraj', 'Level': 10, 'Age': 13}
{'_id': ObjectId('6548af0fc40457443568bf09'), 'Name': 'Rupesh', 'Level': 10, 'Age': 13}
{'_id': ObjectId('6548af0fc40457443568bf05'), 'Name': 'Willson', 'Level': 10, 'Age': 14}
{'_id': ObjectId('6548af0fc40457443568bf0d'), 'Name': 'Akash', 'Level': 10, 'Age': 14}
{'_id': ObjectId('6548af0fc40457443568bf06'), 'Name': 'Manoj', 'Level': 10, 'Age': 15}
{'_id': ObjectId('6548af0fc40457443568bf0a'), 'Name': 'Sital', 'Level': 10, 'Age': 15}
{'_id': ObjectId('6548af0fc40457443568bf0e'), 'Name': 'Rudra', 'Level': 10, 'Age': 15}
{'_id': ObjectId('6548af0fc40457443568bf0b'), 'Name': 'Dikshya', 'Level': 10, 'Age': 16}
{'_id': ObjectId('6548af0fc40457443568bf0c'), 'Name': 'Peter', 'Level': 10, 'Age': 18}




Descending Sort for Age field


{'_id': ObjectId('6548af0fc40457443568bf0c'), 'Name': 'Peter', 'Level': 10, 'Age': 18}
{'_id': ObjectId('6548af0fc40457443568bf0b'), 'Name': 'Dikshya', 'Level': 10, 'Age': 16}
{'_id': ObjectId('6548af0fc40457443568bf06'), 'Name': 'Manoj', 'Level': 10, 'Age': 15}
{'_id': ObjectId('6548af0fc40457443568bf0a'), 'Name': 'Sital', 'Level': 10, 'Age': 15}
{'_id': ObjectId('6548af0fc40457443568bf0e'), 'Name': 'Rudra', 'Level': 10, 'Age': 15}
{'_id': ObjectId('6548af0fc40457443568bf05'), 'Name': 'Willson', 'Level': 10, 'Age': 14}
{'_id': ObjectId('6548af0fc40457443568bf0d'), 'Name': 'Akash', 'Level': 10, 'Age': 14}
{'_id': ObjectId('6548af0fc40457443568bf07'), 'Name': 'Dhiraj', 'Level': 10, 'Age': 13}
{'_id': ObjectId('6548af0fc40457443568bf09'), 'Name': 'Rupesh', 'Level': 10, 'Age': 13}
{'_id': ObjectId('6548af0fc40457443568bf08'), 'Name': 'Neerajan', 'Level': 10, 'Age': 12}
{'_id': ObjectId('6548af0fc40457443568bf0f'), 'Name': 'Binita', 'Level': 10, 'Age': 12}




Descending Sort for Name field


{'_id': ObjectId('6548af0fc40457443568bf05'), 'Name': 'Willson', 'Level': 10, 'Age': 14}
{'_id': ObjectId('6548af0fc40457443568bf0a'), 'Name': 'Sital', 'Level': 10, 'Age': 15}
{'_id': ObjectId('6548af0fc40457443568bf09'), 'Name': 'Rupesh', 'Level': 10, 'Age': 13}
{'_id': ObjectId('6548af0fc40457443568bf0e'), 'Name': 'Rudra', 'Level': 10, 'Age': 15}
{'_id': ObjectId('6548af0fc40457443568bf0c'), 'Name': 'Peter', 'Level': 10, 'Age': 18}
{'_id': ObjectId('6548af0fc40457443568bf08'), 'Name': 'Neerajan', 'Level': 10, 'Age': 12}
{'_id': ObjectId('6548af0fc40457443568bf06'), 'Name': 'Manoj', 'Level': 10, 'Age': 15}
{'_id': ObjectId('6548af0fc40457443568bf0b'), 'Name': 'Dikshya', 'Level': 10, 'Age': 16}
{'_id': ObjectId('6548af0fc40457443568bf07'), 'Name': 'Dhiraj', 'Level': 10, 'Age': 13}
{'_id': ObjectId('6548af0fc40457443568bf0f'), 'Name': 'Binita', 'Level': 10, 'Age': 12}
{'_id': ObjectId('6548af0fc40457443568bf0d'), 'Name': 'Akash', 'Level': 10, 'Age': 14}

### Q7. Explain why delete_one(), delete_many(), and drop() is used.
### Answer:
The explanation for delete_one(), delete_many(), and drop() is given below:
#### delete_one() method:
The delete_one() method in MongoDB is used to delete a single document that matches a specific query filter from a collection. It provides a way to remove a single document that satisfies certain criteria while leaving other documents in the collection unaffected. 
<br>
#### delete_many() method:
The delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().

#### drop() method:
The drop() method in MongoDB is used to delete an entire collection, including all the documents within it. It essentially removes the entire collection and all its associated data from the database. Here are some common use cases for using the drop() method:<br>
> 1. **Collection Cleanup:** When you want to completely remove a collection and its data, you can use the drop() method. This can be useful for temporary collections, old or obsolete data, or when you want to start fresh.
> 2. **Dropping Indexes:** The drop() method is used to drop all indexes associated with a collection. If you need to remove specific indexes, you can do so with the dropIndex() method.